* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

.content-wrapper {
  height: 85vh;
  overflow: scroll;
  font-size: 2rem;
  font-weight: 600;
  color: #303030;
  -webkit-text-stroke: 1px black;
  text-shadow: 0px 0px 1px #000;
}
.game-card {
  background-color: rgb(208, 207, 207);
  padding: 2rem 0;
  margin-bottom: 1rem;
}
