.landing-wrapper {
  font-family: "Roboto", sans-serif;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #c588ff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.landing-title {
  font-weight: 900;
  font-size: 4em;
  color: white;
  margin: 0;
  text-align: center;
  -webkit-text-stroke: 2px black;
  letter-spacing: 8px;
  padding: 2vh;
}

.landing-image {
  width: 80vw;
  background-color: #c588ff;
}
